.DS_Store
Debug/
dbhandler/vc_mswuddll/
libdbloader/vc_mswuddll/
libsqlite/vc_mswuddll/
libsqlite/vc_mswud/
libodbc/vc_mswuddll/
libodbc/vc_mswud/
libdialogs/vc_mswuddll/
libdialogs/vc_mswud/
libdbwindow/vc_mswuddll/
libtablewindow/vc_mswuddll/
libfieldswindow/vc_mswuddll
libpropertypages/vc_mswuddll
libtablewindow/vc_mswuddll
libpropertieshandlers/vc_mswuddll/
libsqlite/sqlite3.lib
libpostgres/vc_mswuddll
libmysql/vc_mswuddll
dbinterface/Debug/
dbhandler/*.cpp~
libdbloader/*.cpp~
dbhandler/*.h~
libdbloader/*.h~
dbhandler/Debug/
libdatabaseview/vc_mswud
libdatabaseview/vc_mswuddll
libdbloader/vc_mswuddll
libshapeframework/vc_mswuddll
autom4te.cache/
.anjuta_sym_db.db
dbinterface/.DS_Store
libdbwindow/.DS_Store
libdatabaseview/.DS_Store
*~
.directory
dbhandler/ipch/
dbhandler/docview_vc9.sdf
dbhandler/docview_vc9.suo
dbhandler/docview_vc9.opensdf
dbhandler/docview_vc10.sdf
dbhandler/docview_vc10.suo
dbhandler/docview_vc10.opensdf
dbhandler/res/odbc1.xpm
dbhandler/res/database.xpm
libdbwindow/vc_mswuddll
libdatabaseview.orig/
wxglade/
.DS_Store
dbhandler/.DS_Store
libdbloader/.DS_Store
libdialogs/.DS_Store
libfieldswindow/.DS_Store
libodbc/.DS_Store
libpropertypages/.DS_Store
libsqlite/.DS_Store
Build/
#*.xcuserstatte
#project.xcworkspace
.anjuta/
dbhandler/vc_mswuddll10/*.obj
dbhandler/vc_mswuddll10/*.ilk
dbhandler/vc_mswuddll10/*.tlog
dbhandler/vc_mswuddll10/*.obj
dbhandler/vc_mswuddll10/*.dll
*.log
libpg\src\interfaces\libpq10
libpg\src\interfaces\libpq
*.xcuserstate
project.xcworkspace/
xcuserdata/
compile
depcomp
ltmain.sh
missing
.anjuta/*
libpropertieshandlers/propertoeshandlers.vcxproj.user
libtabledataedit/vc_mswuddll/
dbhandler/.vs
libdialogs/dialogs.vcxproj.filters
dbhandler/memory_leak_report.txt
aclocal*
Makefile.in
*.abl
libhelpers/vc_mswuddll
*.aps
confogure
liblibrary/vc_mswuddll
