Debug/
libdbloader/vc_mswud/
libsqlite/vc_mswuddll/
libodbc/vc_mswuddll/
libdialogs/vc_mswuddll/
libsqlite/sqlite3.lib
dbinterface/Debug/
dbhandler/*.cpp~
dbhandler/*.h~
docview/Debug/
docview/vc_mswuddll/
libdatabaseview/vc_mswud
autom4te.cache/
.anjuta_sym_db.db
*~
.directory
dbhandler/ipch/
