#include "./sample.rc"

doc                 ICON    "doc.ico"
chrt                ICON    "chart.ico"
notepad             ICON    "notepad.ico"

query_16x16         RCDATA  "res/query_16x16.png"
query_32x32         RCDATA  "res/query_32x32.png"
query_64x64         RCDATA  "res/query_64x64.png"
odbc_16x16          RCDATA  "res/odbc_16x16.png"
odbc_32x32          RCDATA  "res/odbc_32x32.png"
odbc_64x64          RCDATA  "res/odbc_64x64.png"
